*{
    font-family: "poppins",sans-serif;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
:root{
    --body-color:#E4E9F7;
    --sidebar-color:#FFF;
    --primary-color-light:#F6F5FF;
    --taggle-color:#707070;

    /* transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s  ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease ;
}